.info{
 background-color: hsl(183, 100%, 15%);
 background-color: hsl(186, 14%, 43%);
 background-color:hsl(184, 14%, 56%);
 background-color:hsl(185, 41%, 84%);
 background-color:hsl(189, 41%, 97%);
}

body{
    background-color:hsl(185, 41%, 84%);  
}